<!DOCTYPE html>
<html>
<head>
<script  src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script>

function init() {
   var form = document.getElementById("form1");
   form.setAttribute("action", "/board/article/addArticle");
   form.setAttribute("method", "POST");
   var button = document.getElementById("button1");
   button.addEventListener("click", submitForm);
}

function submitForm() {
	var form = document.getElementById("form1");
	form.submit();
	alert("Submit");
	
}

window.addEventListener("load", init, false);

</script>
</head>
<body>

${form}

<div id="app">
ddd
</div>

<script type="module" src="/biz/js/board/board_main.js"></script>

<#include "/framework/include/javascript_common.ftl">

</body>
</html>